.reset {
  position: relative;
  height: 100%;
  background: url("https://i.ibb.co/NmBd3Hq/background.png") center no-repeat;
  background-size: cover;
  height: 100vh;
}

.imageContainerReset {
  background: url("https://i.ibb.co/M6qHY2y/reset-Background.png") no-repeat;
  width: 500px;
  margin: 50px 0px 0px 50px;
}
